Vulkan/.vs/Vulkan/v15/ipch/30a2b67cf12c0b17.ipch
Vulkan/.vs/Vulkan/v15/Browse.VC.db
Vulkan/.vs/Vulkan/v15/.suo
Vulkan/Debug/Vulkan.ilk
Vulkan/Debug/Vulkan.exe
Vulkan/Vulkan/Debug/main.obj
Vulkan/Vulkan/Debug/log.obj
Vulkan/Vulkan/Debug/appmng.obj
Vulkan/Vulkan/Debug/OperatingSystem.obj
Vulkan/Vulkan/Debug/stdafx.obj
Vulkan/Vulkan/Debug/vkcommon.obj
Vulkan/Vulkan/Debug/Vulkan.log
Vulkan/Vulkan/Debug/vkloader.obj
Vulkan/Vulkan/Debug/Vulkan.tlog/link.command.1.tlog
Vulkan/Vulkan/Debug/Vulkan.tlog/Vulkan.lastbuildstate
Vulkan/Vulkan/Debug/Vulkan.tlog/CL.read.1.tlog
Vulkan/Vulkan/Debug/Vulkan.tlog/CL.command.1.tlog
Vulkan/Vulkan/Debug/Vulkan.tlog/link.write.1.tlog
Vulkan/Vulkan/Debug/Vulkan.tlog/CL.write.1.tlog
Vulkan/Vulkan/Debug/Vulkan.tlog/link.read.1.tlog
Vulkan/.vs/Vulkan/v15/ipch/d84eecd416063069.ipch
Vulkan/Vulkan/Debug/pch.obj
Vulkan/Vulkan/Debug/Vulkan.obj
Vulkan/Vulkan/Debug/vkloader.obj.enc
*.log
Vulkan/Vulkan/x64/Debug/*.obj
Vulkan/Vulkan/x64/Debug/Vulkan.tlog/*.tlog
/Vulkan/Vulkan/Debug
/Vulkan/Debug
/Vulkan/Vulkan/*.vcxproj
/Vulkan/Vulkan/Vulkan.vcxproj.user
/Vulkan/Vulkan/Vulkan.vcxproj.filters
*.ipch
*.suo
*.db
*.opendb
*.idb
*.pdb
*.pch
*.lastbuildstate
